body {
    background-color: #212121;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home .layout {
    display: flex;
    justify-content: center;
}

#home .text{
    color: white;
}

#home .linkText{
    color: #0645AD;
    justify-content: center;
}

#home .cards {
    max-width: 380px;
    margin: 100px;
}